@using Microsoft.AspNetCore.Identity
@using MVC.Areas.Identity.Data
@inject SignInManager<PRPCUser> SignInManager
@inject UserManager<PRPCUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">LOG OUT</button>
            </li>
        </ul>
    </form>
}
else
{

    
     
    <ul class="navbar-brand ">
        
             <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown">
          SELECT OPERATOR
        </a>
        <div class="dropdown-menu" aria-labelledby="navdrop">
          <a class="dropdown-item" href="#">City of Amarillo</a>
          <a class="dropdown-item" href="#">WTAMU</a>
        </div>
        
        <a asp-area="Identity" asp-page="/Account/Register" class="navbar-brand">REGISTER</a>
        <a asp-area="Identity" asp-page="/Account/Login" class="navbar-brand">LOG IN</a>
       
   </ul>
}
